<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974246879501-8efbf35ekueg55utvmda3naq56teof85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974246879501-8efbf35ekueg55utvmda3naq56teof85</string>
	<key>API_KEY</key>
	<string>AIzaSyD_WkoIESN5V-CY10y3sz8y38TRMAA7xiM</string>
	<key>GCM_SENDER_ID</key>
	<string>974246879501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fabiansimon.prio</string>
	<key>PROJECT_ID</key>
	<string>prio-e1b48</string>
	<key>STORAGE_BUCKET</key>
	<string>prio-e1b48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974246879501:ios:3a28cca98a44d47820d044</string>
</dict>
</plist>